In [50]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
df = pd.DataFrame({'whoAmI':lst})
df.head()

  whoAmI
0  human
1  human
2  robot
3  human
4  robot

In [51]:
lst

['human',
 'human',
 'robot',
 'human',
 'robot',
 'robot',
 'robot',
 'robot',
 'robot',
 'human',
 'human',
 'robot',
 'robot',
 'human',
 'human',
 'human',
 'robot',
 'robot',
 'human',
 'human']

In [54]:
lst2 = []
for i in lst:
  record = {'human':0, 'robot':0}
  if i == 'robot':
    record['robot'] = 1
  else:
    record['human'] = 1
  lst2.append(record)
df2 = pd.DataFrame(lst2)
df2.head()

   human  robot
0      1      0
1      1      0
2      0      1
3      1      0
4      0      1

In [53]:
pd.get_dummies(df['whoAmI'])

    human  robot
0       1      0
1       1      0
2       0      1
3       1      0
4       0      1
5       0      1
6       0      1
7       0      1
8       0      1
9       1      0
10      1      0
11      0      1
12      0      1
13      1      0
14      1      0
15      1      0
16      0      1
17      0      1
18      1      0
19      1      0